<a href="https://colab.research.google.com/github/alex-addanki/Experiments/blob/master/CalcEngineFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [6]:
# Create URL to JSON file (alternatively this can be a filepath)
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient='columns')

# View the first ten rows
df.head(10)

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
10        5 2015-01-01 00:00:10         0
11        5 2015-01-01 00:00:11         0
12        8 2015-01-01 00:00:12         0
13        9 2015-01-01 00:00:13         0
14        8 2015-01-01 00:00:14         0
15        8 2015-01-01 00:00:15         0
16        2 2015-01-01 00:00:16         0
17        1 2015-01-01 00:00:17         0

In [3]:
df.std(axis = 0, skipna = True)

integer     2.634273
category    0.000000
dtype: float64

In [0]:
df.std(axis = 1, skipna = True)

In [20]:
from numpy.random import randn
ds = pd.DataFrame(np.abs(randn(3, 4)), index=[1,2,3], columns=['A','B','C','D'])
ds

          A         B         C         D
1  1.019324  0.355190  1.079784  1.052681
2  1.212459  0.508398  1.161944  1.143461
3  1.578682  0.782915  0.677765  0.949120

In [22]:
ds['sum']=ds.sum(axis=1)
ds

          A         B         C         D       sum
1  1.019324  0.355190  1.079784  1.052681  3.506979
2  1.212459  0.508398  1.161944  1.143461  4.026262
3  1.578682  0.782915  0.677765  0.949120  3.988483

In [0]:
ds['A_perc'] = ds['A']/ds['sum']
ds

In [26]:
ds['A_perc'] = (ds['A'] + ds['A']) /ds['A']
ds

          A         B         C         D       sum  A_perc
1  1.019324  0.355190  1.079784  1.052681  3.506979     2.0
2  1.212459  0.508398  1.161944  1.143461  4.026262     2.0
3  1.578682  0.782915  0.677765  0.949120  3.988483     2.0

In [27]:
ds.div(ds['sum'], axis=0)

          A         B         C         D  sum    A_perc
1  0.290656  0.101281  0.307896  0.300168  1.0  0.570291
2  0.301138  0.126270  0.288591  0.284001  1.0  0.496739
3  0.395810  0.196294  0.169931  0.237965  1.0  0.501444

In [28]:
ds.join(ds.div(ds['sum'], axis=0), rsuffix='_calculations')

          A         B  ...  sum_calculations  A_perc_calculations
1  1.019324  0.355190  ...               1.0             0.570291
2  1.212459  0.508398  ...               1.0             0.496739
3  1.578682  0.782915  ...               1.0             0.501444

[3 rows x 12 columns]

In [0]:
import json

# read file
with open('/content/Simplejson.json.txt', 'r') as myfile:
    data=myfile.read()

In [43]:
with open('Simplejson.json.txt', 'r') as f:
    distros_dict = json.load(f)

for distro in distros_dict:
    print(distro['Version'])

9
17.10
26
7
42.3
Rolling Release
Rolling Release

In [0]:
 t=pd.read_json (r'Simplejson.json.txt')

In [48]:
t

  Install  Kernel        Name              Owner          Version
0     apt    4.90      Debian                SPI                9
1     apt    4.13      Ubuntu          Canonical            17.10
2     dnf    4.13      Fedora            Red Hat               26
3     yum    3.10      CentOS            Red Hat                7
4  zypper    4.40    OpenSUSE             Novell             42.3
5  pacman    4.13  Arch Linux                SPI  Rolling Release
6  emerge    4.12      Gentoo  Gentoo Foundation  Rolling Release